.container{
    row-gap: 2rem;
    column-gap: 2rem;
    display: grid;
    place-items: center;
    overflow: none;
    min-height: 100v;
    margin-left: 24px;
    margin-right:24px;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    
}