.header-container {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    justify-content: center;
    margin: 24px 24px;
  }
  
 
  .MuiInputBase-root {
    width: 100%;
  }
  
 
  .MuiAutocomplete-inputRoot {
    width: 100%;
    max-width: 300px; 
  }